#nav{
	float: left;
}
#nav_menu{
	position:absolute;
	width:200px;
	float:left;
	margin-top: 0px;
	background: #EEEEEE;
	height:324px;
}
#nav_menu ul{
	list-style-type: none;
	padding-left:0;
	margin: 0 0 0 0;
}
#nav_menu ul li{
	height:25px;
	width:200px;
	margin: 0 0 0 0;
	vertical-align: center;
	border-bottom: 2px solid;
	border-color: #ffffff;
	padding-top: 9px;
	text-align: center;
}

#nav_menu ul li a{
	text-decoration: none;
	color:rgb(0,102,96);
	font-size: 14px;
	font-family:Î¢ÈíÑÅºÚ;
	letter-spacing:2px;
}
#line{
	position:absolute;
	margin:0 0 0 200px;
	height:450px;
	width:5px;
	background-color: #888888;
	float: left;
}
#main{
	position:absolute;
	margin:0 0 0 205px;
	float: left;
	width:1000px;
}